---
import { themeConfig } from '@/config'
import { getLangFromPath } from '@/i18n/lang'
import { getLocalizedPath } from '@/i18n/path'

const { author } = themeConfig.site
const { links, startYear } = themeConfig.footer

const currentYear = new Date().getFullYear()
const year = Number(startYear) === currentYear
  ? startYear
  : `${startYear}-${currentYear}`

// i18n RSS Feed Path
const currentLang = getLangFromPath(Astro.url.pathname)
const socialLinks = links.map(({ name, url }) => {
  const isRSS = url === '/atom.xml' || url === '/rss.xml'
  const isEmail = /^[\w.-]+@[\w.-]+\.[a-z]{2,}$/i.test(url)

  if (isRSS) {
    return {
      name,
      href: getLocalizedPath(url, currentLang).slice(0, -1),
      target: '_blank',
      rel: 'noopener noreferrer',
    }
  }

  if (isEmail) {
    const href = `mailto:${url}`
    return {
      name,
      href,
      'data-umami-event': 'outbound-link-click',
      'data-umami-event-url': href,
    }
  }

  return {
    name,
    'href': url,
    'target': '_blank',
    'rel': 'noopener noreferrer',
    'data-umami-event': 'outbound-link-click',
    'data-umami-event-url': url,
  }
})

const footerLinkClass = 'highlight-hover py-0.8 transition-colors after:bottom-0.35em hover:c-primary'
---

<footer
  class="text-3 leading-1.25em font-navbar lg:text-3.5"
  lg="uno-desktop-column bottom-20"
>
  <p>
    {socialLinks.map((link, index) => (
      <>
        <a class={footerLinkClass} {...link}>{link.name}</a>&nbsp;{index < socialLinks.length - 1 && '/'}
      </>
    ))}
  </p>

  <p>
    © {year} {author}
  </p>

  <p>
    Powered by <a class={footerLinkClass} href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a> and <a class={footerLinkClass} href="https://github.com/radishzzz/astro-theme-retypeset" target="_blank" rel="noopener noreferrer">Retypeset</a>
  </p>
</footer>
